<%# Header %>
<div class="column is-12">
  <div class="level">
    <div class="level-left">
      <h3 class="is-size-5 level-item">Admin</h3>
    </div>
    <div class="level-right">
      <%= button_to "Delete club",
        club_path(@club),
        method: :delete,
        class: "button is-danger level-item" %>
    </div>
  </div>
</div>

<%# Request table %>
<div class="column is-6-desktop is-12-mobile">
  <div class="box">
    <h3 class="is-size-5">Requests</h3>
    <table class="table is-fullwidth">
      <thead>
        <th>Name</th>
        <th>Approve</th>
        <th>Deny</th>
      </thead>
      <tbody>
        <% @club_requests.each do |club_request| %>
          <tr>
            <td><%= club_request.user.name %></td>
            <td>
              <%= button_to "Approve",
                club_request_path(club_request),
                method: :patch,
                params: { "club_request[status]" => "approved" },
                class: "button is-link" %>
            </td>
            <td>
              <%= button_to "Deny",
                club_request_path(club_request),
                method: :patch,
                params: { "club_request[status]" => "denied" },
                class: "button is-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%# Viewings %>
<div class="column is-6-desktop is-12-mobile">
  <div class="box">
    <h3 class="is-size-5">Viewings</h3>
    <table class="table is-fullwidth">
      <thead>
        <th></th>
        <th>Date</th>
        <th>Movie</th>
      </thead>
      <tbody>
        <% @viewings.each_with_index do |viewing, i| %>
          <tr class="<%= viewing == @club.current_viewing ? 'is-selected' : '' %>">
            <td><%= i + 1 %></td>
            <td><%= viewing.datetime.to_formatted_s(:long_ordinal) %></td>
            <td><%= viewing.movie %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <h3 class="subtitle">Create Viewing</h3>
    <div>
      <%= form_with model: Viewing.new do |form| %>
        <%= form.text_field :club_id, value: @club.id, class: "is-hidden" %>
        <div class="field has-addons">
          <div class="control is-expanded">
            <%= form.text_field :datetime, data: { controller: "flatpickr", flatpickr_enable_time: true }, class: "input" %>
          </div>
          <div class="control">
            <%= form.submit "Create Viewing", class: "button" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
