<div class="column is-12">
  <%# TODO Always level to have same margin? %>
  <h3 class="subtitle is-size-6"><%= @club.name %></h3>

  <%# Table for desktop view %>
  <table class="table is-fullwidth is-hidden-mobile">
    <thead>
      <tr>
        <th>Name</th>
        <th>Movies</th>
        <th>Voted in Current Poll?</th>
        <th>Nominations Won</th>
        <th>Last Login</th>
      </tr>
    </thead>
    <tbody>
      <% @club.users.each do |user| %>
        <tr>
          <td>
            <%# TODO scope this to being in club %>
            <%= link_to user.name, join_movie_to_users_path(user) %>
          </td>
          <td>
            <%= user.movies.size %>
          </td>
          <%# TODO %>
          <td>WIP</td>
          <td>WIP</td>
          <td>WIP</td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%# Cards for mobile view %>
  <%# TODO Accordion? %>
  <% @club.users.each do |user| %>
    <div class="card is-hidden-desktop">
      <header class="card-header">
        <p class="card-header-title">
          <%= link_to user.name, join_movie_to_users_path(user) %>
        </p>
      </header>
      <div class="card-content has-text-centered">
        <div class="columns is-multiline is-mobile">
          <%# TODO Do I like this? %>
          <div class="column is-half">
            Movies
          </div>

          <div class="column is-half">
            <%= user.movies.size %>
          </div>

          <div class="column is-half">
            Voted in Current Poll?
          </div>

          <div class="column is-half">
            WIP
          </div>

          <div class="column is-half">
            Nominations Won
          </div>

          <div class="column is-half">
            WIP
          </div>

          <div class="column is-half">
            Last Login
          </div>

          <div class="column is-half">
            WIP
          </div>
        </div>
      </div>
    </div>

    <br />
  <% end %>

</div>
