<%# <%# Seenlist %>
<%# <div class="overlay-top-left is-flex is-flex-column buttons">
<%#
<%#   <% if current_user.join_movie_to_users.include?(movie) %>
<%#
<%#       <% if current_user.liked_movies.include?(movie) %>
<%#
<%#           <%= button_to join_movie_to_user_path(current_user.seenlists.find { |s| s.movie == movie }.id ),
<%#             method: :delete,
<%#             params: { "join_movie_to_user[movie_id]" => movie.id,
<%#                       "join_movie_to_user[user_id]" => current_user.id,
<%#                       "join_movie_to_user[score]" => nil },
<%#             remote: true,
<%#             data: { tooltip: "My Rating (click to remove from join_movie_to_user)" },
<%#             class: "button is-rounded has-opacity-75 is-small tooltip is-tooltip-top" do %>
<%#
<%#             <span class="icon is-small is-marginless has-text-success">
<%#               <i class="fas fa-thumbs-up"></i>
<%#             </span>
<%#
<%#           <% end %>
<%#
<%#       <% elsif current_user.disliked_movies.include?(movie) %>
<%#
<%#           <%= button_to join_movie_to_user_path(current_user.seenlists.find { |s| s.movie == movie }.id ),
<%#             method: :delete,
<%#             params: { "join_movie_to_user[movie_id]" => movie.id,
<%#                       "join_movie_to_user[user_id]" => current_user.id,
<%#                       "join_movie_to_user[score]" => nil },
<%#             remote: true,
<%#             data: { tooltip: "My Rating (click to remove from join_movie_to_user)" },
<%#             class: "button is-rounded has-opacity-75 is-small tooltip is-tooltip-top" do %>
<%#
<%#
<%#             <span class="icon is-small is-marginless has-text-danger">
<%#               <i class="fas fa-thumbs-down"></i>
<%#             </span>
<%#
<%#           <% end %>
<%#
<%#       <% end %>
<%#
<%#
<%#   <% else %>
<%#     <div class="button is-rounded is-flex has-opacity-75 button-expand is-cursor-default is-small is-padding-contract tooltip is-tooltip-top" data-tooltip="My Rating">
<%#       <span class="icon is-small is-marginless expand-hidden">
<%#         <i class="fas fa-eye"></i>
<%#       </span>
<%#
<%#       <div class="buttons is-centered button-message">
<%#
<%#         <%= button_to join_movie_to_users_path,
<%#           method: :post,
<%#           params: { "join_movie_to_user[movie_id]" => movie.id,
<%#                     "join_movie_to_user[user_id]" => current_user.id,
<%#                     "join_movie_to_user[score]" => 0 },
<%#           remote: true,
<%#           class: "button is-danger is-rounded is-tiny is-outlined" do %>
<%#           <span class="icon">
<%#             <i class="fas fa-thumbs-down"></i>
<%#           </span>
<%#         <% end %>
<%#
<%#         <%= button_to join_movie_to_users_path,
<%#           method: :post,
<%#           params: { "join_movie_to_user[movie_id]" => movie.id,
<%#                     "join_movie_to_user[user_id]" => current_user.id,
<%#                     "join_movie_to_user[score]" => 1 },
<%#           remote: true,
<%#           class: "button is-rounded is-success is-tiny is-outlined" do %>
<%#           <span class="icon" >
<%#             <i class="fas fa-thumbs-up"></i>
<%#           </span>
<%#         <% end %>
<%#
<%#       </div>
<%#     </div>
<%#   <% end %>
<%# </div>

<%# Watchlist %>
<div class="overlay-top-right is-flex is-flex-column buttons">
  <% if current_user.movies.include?(movie) %>
    <%= button_to join_movie_to_user_path(current_user.join_movie_to_users.find { |w| w.movie == movie }.id),
      method: :delete,
      remote: true,
      data: { tooltip: "Remove from Watchlist" },
      class: "button is-danger is-rounded is-small tooltip is-tooltip-danger is-tooltip-top" do %>
        <span class="icon is-marginless">
          <i class="fas fa-list"></i>
        </span>
    <% end %>


  <% else %>
    <%= button_to join_movie_to_users_path,
      method: :post,
      params: { "join_movie_to_user[movie_id]" => movie.id,
                "join_movie_to_user[user_id]" => current_user.id,
                "query" => @query },
      remote: true,
      data: { tooltip: "Add to Watchlist" },
      class: "button is-link is-rounded is-small tooltip is-tooltip-link is-tooltip-top" do %>
        <span class="icon is-marginless">
          <i class="fas fa-list"></i>
        </span>
    <% end %>
  <% end %>

    <%# Nominate Buttons %>
    <% unless @locked %>
      <%= render partial: "movies/nominate_button", locals: { movie: movie } %>
    <% end %>
</div>

