<div class="column is-2-desktop is-5-mobile">
  <div class="card field">
    <div class="card-image">
      <figure class="image is-2by3 has-badge-link has-badge-left has-badge-large"
              data-controller="poster"
            <% if show_badges %>
              data-badge="<%= movie_iteration.size - movie_iteration.index %>"
            <% end %>
              data-action="mouseenter->poster#show mouseleave->poster#hide">

        <%= render partial: "movies/poster", locals: { movie: movie } %>

        <div class="overlay-button is-paddingless is-hidden-mobile">
          <%= render partial: "movies/add_remove_buttons", locals: { movie: movie } %>
        </div>

        <%= render partial: "movies/play_button", locals: { movie: movie } %>
      </figure>
    </div>
  </div>

  <div class="has-text-centered has-text-weight-semibold">
    <p class="is-size-7"><%= movie.title %> - <%= movie.year %></p>
  </div>
</div>
