<div class="column is-2">
  <div class="card">
    <div class="card-image">
      <figure class="image is-2by3"
              data-controller="poster"
              data-action="mouseenter->poster#show mouseleave->poster#hide">
              <% if movie.poster %>
                <%= image_tag movie.poster, height: "200", width: "300", class: "poster" %>
              <% else %>
                <%= image_pack_tag ("dark_movie_poster.jpeg"), height: "200", width: "300", class: "poster" %>
              <% end %>

        <!-- Add/Remove movie from watchlist -->
        <div class="is-flex is-flex-column overlay-button">
          <% if current_user.movies.include?(movie) %>
            <div class="field">
              <%= button_to watchlist_path(current_user.watchlists.find { |w| w.movie == movie }.id),
                method: :delete,
                params: { redirect_to: redirect_path, query: params[:query] },
                remote: true,
                class: "button is-danger is-small is-fullwidth" do %>
                <span class='icon is-small'>
                  <i class='fas fa-minus'></i>
                </span>
              <% end %>

            </div>

            <% if current_user && current_club && current_club.current_poll %>
              <% if current_user.current_nomination(current_club.current_poll.id) %>
                <div class="field">
                  <%= button_to nomination_path(current_user.current_nomination(current_club.current_poll.id).id),
                    method: :patch,
                    params: { "nomination[poll_id]" => current_club.current_poll.id,
                              "nomination[movie_id]" => movie.id, 
                              "nomination[user_id]" => current_user.id },
                  remote: true,
                  disabled: @locked,
                  class: "button is-small is-fullwidth" do  %>
                  <span class='icon is-small'>
                    <i class='fas fa-person-booth'></i>
                  </span>
                <% end %>
                </div>
              <% else %>
                <div class="field">
                  <%= button_to nominations_path,
                    method: :post,
                    params: { "nomination[poll_id]" => current_club.current_poll.id,
                              "nomination[movie_id]" => movie.id, 
                              "nomination[user_id]" => current_user.id },
                  remote: true,
                  disabled: @locked,
                  class: "button is-small is-fullwidth" do %>
                  <span class='icon is-small'>
                    <i class='fas fa-person-booth'></i>
                  </span>
                <% end %>
                </div>
              <% end %>
            <% end %>
          <% else %>
            <%= button_to watchlists_path,
              method: :post,
              params: { "watchlist[movie_id]" => movie.id,
                        "watchlist[user_id]" => current_user.id,
                        "query" => @query },
            remote: true,
            class: "button is-link is-small is-fullwidth" do %>
                <span class='icon is-small'>
                  <i class='fas fa-plus'></i>
                </span>
              <% end %>
        <% end %>
        </div>

        <div
          class="overlay-box has-opacity-75 is-flex is-hidden"
          style="background-color:white;justify-content:center;align-items:center"
          data-target="poster.overlay"
          data-action="click->quickview#show">
          <div class="is-centered has-text-centered has-text-weight-semibold">
            <p class="is-size-5"><%= movie.title %></p>
            <p class="is-size-6"><%= movie.year %></p>
          </div>
        </div>

      </figure>
    </div>
  </div>
</div>
