<div class="column is-3-desktop is-6-mobile is-flex is-flex-column" data-controller="ratings">

  <div class="card field">
    <div class="card-image">
      <figure class="image is-2by3 has-badge-link has-badge-left has-badge-large"
              data-controller="poster"
              <% if show_badges %>
                data-badge="<%= movie_iteration.size - movie_iteration.index %>"
              <% end %>
                data-action="mouseenter->poster#show mouseleave->poster#hide">

                <%= render partial: "movies/poster", locals: { movie: movie } %>

                <div class="is-paddingless is-hidden-mobile">
                  <%= render partial: "movies/add_remove_buttons", locals: { movie: movie } %>
                </div>

                <%= render partial: "movies/overlay", locals: { movie: movie } %>
      </figure>
    </div>
  </div>

  <div class="has-text-centered has-text-weight-semibold is-flex is-flex-column is-height-100">
    <div class="is-size-7 is-height-100"><%= movie.title %> - <%= movie.year %></div>
  </div>
</div>
