<div class="columns is-marginless has-text-centered has-text-weight-semibold is-mobile">
  <% if movie.ratings[0] %>
    <div class="column is-one-third">
      <%#= TODO move style to css %>
      <figure class="image is-32x32 field has-background-black" style="margin-left:auto;margin-right:auto;">
        <%= image_pack_tag ("imdb.svg") %>
      </figure>
      <div class="is-size-6 <%= float_rating_range(movie.ratings[0]["Value"].to_i) %> ">
        <%= movie.ratings[0]["Value"].to_f %>
      </div>
    </div>
  <% end %>

  <% if movie.ratings[1] %>
    <div class="column is-one-third">
      <figure class="image is-32x32 field" style="margin-left:auto;margin-right:auto;">
        <%= image_pack_tag ("rotten_tomatoes.svg") %>
      </figure>
      <div class="is-size-6 <%= rating_range(movie.ratings[1]["Value"].to_i) %> ">
        <%= movie.ratings[1]["Value"].to_i %>
      </div>
    </div>
  <% end %>


  <% if movie.ratings[2] %>
    <div class="column is-one-third">
      <figure class="image is-32x32 field" style="margin-left:auto;margin-right:auto;">
        <%= image_pack_tag ("metacritic.svg") %>
      </figure>
      <div class="is-size-6 <%= rating_range(movie.ratings[2]["Value"].to_i) %> ">
        <%= movie.ratings[2]["Value"].to_i %>
      </div>
    </div>
  <% end %>
</div>

