<header class="quickview-header has-background-grey-lighter">
  <p class="is-size-5 has-text-weight-semibold"><%= @movie.title %></p>
  <span class="delete" data-action="click->quickview#close"></span>
</header>

<div class="quickview-body">
  <section class="section">

    <div class="columns is-multiline is-centered">
      <div class="column is-12">
        <div class="content">


          <% [ :ratings, :sources, :rated, :runtime, :plot, :language, :country, :production,
               :awards, :genres, :director, :writer, :actors ].each do |attr| %>

               <h3 class="is-size-6 has-text-weight-semibold">
                 <%= attr.to_s.capitalize %>
               </h3>

               <% if attr == :ratings %>
                 <%= render partial: "movies/ratings", locals: { movie: @movie } %>
               <% elsif attr == :genres %>
                 <% @movie.send(attr).each do |genre| %>
                   <p class="tag is-medium" >
                     <%= genre.name %>
                   </p>
                 <% end %>

               <% elsif attr == :sources %>

                 <% if @movie.send(attr) != "{}" %>
                 <div class="columns is-multiline">
                   <% @movie.send(attr).each do |source_type, source_type_sources| %>
                     <div class="column is-half">
                       <h6 class="has-text-weight-semibold is-marginless">
                         <%= source_type.humanize.remove(" web sources") %>
                       </h6>
                       <% if source_type_sources.present? %>
                         <ul>
                           <% source_type_sources.each do |source_type_source| %>

                             <li class="field">
                               <h6 class="is-marginless">
                                 <%= source_type_source["display_name"] %>
                               </h6>

                               <% if source_type_source["formats"].present? %>
                                 <ul>
                                   <% source_type_source["formats"].each do |format| %>
                                     <li>
                                       <%= format["type"] %> - <%= format["format"] %> - <%= format["price"] %>
                                     </li>
                                   <% end %>
                                 </ul>
                               <% end %>
                             </li>
                           <% end %>
                         </ul>
                       <% else %>
                         <span class="icon has-text-danger">
                           <i class="fas fa-ban"></i>
                         </span>
                       <% end %>
                     </div>
                   <% end %>
 
                 </div>
               <% end %>

               <% else %>
                 <%= @movie.send(attr) %>
               <% end %>
               <hr />

             <% end %>
        </div>
      </div>
    </div>
  </section>
</div>
<div>
