<header class="quickview-header has-background-grey-lighter">
  <p class="is-size-5 has-text-weight-semibold"><%= @movie.title %></p>
  <span class="delete" data-action="click->quickview#close"></span>
</header>

<div class="quickview-body">
  <section class="section">

    <%= render partial: "mobile_buttons" %>

    <div class="columns is-multiline is-centered">
      <div class="column is-10">
        <div class="content">
          <% [ :rated, :runtime, :plot, :language, :country, :production,
               :awards, :genres, :director, :writer, :actors, :ratings ].each do |attr| %>

               <h3 class="is-size-6 has-text-weight-semibold">
                 <%= attr.to_s.capitalize %>
               </h3>

               <% if attr == :ratings %>
                 <% @movie.send(attr).each do |rating| %>
                   <p>
                     <span><%= rating["Source"] %></span> - <span><%= rating["Value"] %></span>
                   </p>
                 <% end %>
               <% elsif attr == :genres %>
                 <% @movie.send(attr).each do |genre| %>
                   <p class="tag is-medium" >
                     <%= genre.name %>
                   </p>
                 <% end %>
               <% else %>
                 <%= @movie.send(attr) %>
               <% end %>
               <hr />

             <% end %>
        </div>
      </div>
    </div>
  </section>
</div>
