<div class="has-text-centered">
  <h3 class="is-size-5">Your Vote</h3>

  <% if @vote.new_record? %>
    <span class="icon has-text-link is-large">
      <i class="fas fa-question-circle fa-3x"></i>
    </span>
  <% else %>
    <span class="icon has-text-success is-large">
      <i class="fas fa-check-circle fa-3x"></i>
    </span>
  <% end %>

  <hr />

  <%= form_with model: @vote do |f| %>
    <%= f.text_field :poll_id, value: @poll.id, class: "is-hidden" %>
    <%= f.text_field :user_id, value: current_user.id, class: "is-hidden" %>
    <div class="field">
      <% @nominations.each do |nomination| %>
        <p>
          <%= nomination.movie.title %><span data-movie="<%= nomination.movie.id %>">
            <% case f.object.choices[nomination.movie.id.to_s]
            when "1" %>
          - <span class="icon is-small has-text-link"><i class="fas fa-thumbs-up"></i></span>
        <% when "0" %>
        <% when "-1" %>
          - <span class="icon is-small has-text-danger"><i class="fas fa-thumbs-down"></i></span>
        <% end %>
          </span>
          <%= f.text_field "choices[#{nomination.movie.id}]",
            value: f.object.choices[nomination.movie.id.to_s].to_i || 0,
            data: { movie: nomination.movie.id },
            class: "is-hidden" %>
        </p>
      <% end %>
    </div>
    <div class="field buttons is-centered">
      <div class="control">
        <%= f.submit "Vote", class: "button is-large is-link", disabled: @locked %>
      </div>
    </div>
  <% end %>
</div>
