<div class="column is-2-desktop is-6-mobile has-text-centered">
  <div class="card field">
    <div class="card-image">
      <figure class="image is-2by3 has-badge-left has-badge-link has-badge-large"
              data-controller="poster"
              data-badge="<%= nomination.user.name %>"
              data-action="mouseenter->poster#show mouseleave->poster#hide">

              <%= render partial: "movies/poster", locals: { movie: nomination.movie } %>


              <%= render partial: "nominations/voting_buttons", locals: { movie: nomination.movie } %>


              <%= render partial: "movies/play_button", locals: { movie: nomination.movie } %>

              <% if nomination.movie.omdb_checked_date  && nomination.movie.ratings.present? %>
                <div class="overlay-ratings is-hidden is-hidden-mobile"
                     data-target="poster.overlay">
                  <%= render partial: "movies/ratings", locals: { movie: nomination.movie } %>
                </div>
              <% end %>
      </figure>
    </div>
  </div>

  <%# TODO Reuse voting button partial %>
  <div class="is-flex is-flex-column buttons is-hidden-desktop" data-movie="<%= nomination.movie.id %>">
    <button class="button is-link is-small is-fullwidth" data-action="click->vote#upvote" <%= @locked ? 'disabled' : '' %>>
      <span class="icon is-small">
        <i class="fas fa-thumbs-up"></i>
      </span>

      <div>
        +1
      </div>
    </button>

    <button class="button is-small is-fullwidth" data-action="click->vote#push" <%= @locked ? 'disabled' : '' %>>
      <span class="icon is-small">
        <i class="fas fa-equals"></i>
      </span>

      <div>
        0
      </div>
    </button>

    <button class="button is-danger is-small is-fullwidth" data-action="click->vote#downvote" <%= @locked ? 'disabled' : '' %>>
      <span class="icon is-small">
        <i class="fas fa-thumbs-down"></i>
      </span>

      <div>
        -1
      </div>
    </button>
  </div>

  <div class="has-text-centered has-text-weight-semibold">
    <p class="is-size-7"><%= nomination.movie.title %> - <%= nomination.movie.year %></p>
  </div>
</div>

<% unless nomination_iteration.last? %>
  <div class="is-divider-vertical"></div>
<% end %>
