<div class="column is-2-desktop is-6-mobile has-text-centered">
  <div class="card field">
    <div class="card-image">
      <figure class="image is-2by3 has-badge-left has-badge-link has-badge-large"
              data-controller="poster"
              data-badge="<%= nomination.user.name %>"
              data-action="mouseenter->poster#show mouseleave->poster#hide">

              <%= render partial: "movies/poster", locals: { movie: nomination.movie } %>


              <%= render partial: "nominations/voting_buttons", locals: { movie: nomination.movie } %>


              <%= render partial: "movies/play_button", locals: { movie: nomination.movie } %>
      </figure>
    </div>
  </div>

  <div class="has-text-centered has-text-weight-semibold">
    <p class="is-size-7"><%= nomination.movie.title %> - <%= nomination.movie.year %></p>
  </div>
</div>

<% unless nomination_iteration.last? %>
  <div class="is-divider-vertical"></div>
<% end %>
