<%# TODO move fixed style %>
<aside class="menu is-hidden-mobile is-fixed" data-turbolinks-permanent id="filters">

  <p class="menu-label button">
    <%= link_to "All",
      seenlist_path(params[:id]),
      class: "is-link is-small has-text-grey" %>
  </p>

  <div data-controller="filter">
    <p class="menu-label button" data-action="click->filter#toggle">
      + Genres
    </p>
    <ul class="menu-list is-hidden" data-target="filter.list">
      <% @genres.each do |genre| %>
        <li>
          <%= link_to genre.name,
            seenlist_path(params[:id], params: { genre: genre.id }),
            class: "is-link is-small" %>
        </li>
      <% end %>
    </ul>
  </div>

  <div data-controller="filter">
    <p class="menu-label button" data-action="click->filter#toggle">
      + Decade
    </p>
    <ul class="menu-list is-hidden" data-target="filter.list">
      <% @decades.each do |decade| %>
        <li>
          <%= link_to decade,
            seenlist_path(params[:id], params: { decade: decade }),
            class: "is-link is-small" %>
        </li>
      <% end %>
    </ul>
  </div>

  <div data-controller="filter">
    <p class="menu-label button" data-action="click->filter#toggle">
      + Sort
    </p>
    <ul class="menu-list is-hidden" data-target="filter.list">
      <li>
        <%= link_to "↓ Alphabetically",
          seenlist_path(params[:id], params: { sort: :alpha_asc }),
          class: "is-link is-small" %>
      </li>

      <li>
        <%= link_to "↑ Alphabetically",
          seenlist_path(params[:id], params: { sort: :alpha_desc }),
          class: "is-link is-small" %>
      </li>

      <li>
        <%= link_to "↓ Added to List",
          seenlist_path(params[:id], params: { sort: :added_asc }),
          class: "is-link is-small" %>
      </li>

      <li>
        <%= link_to "↑ Added to List",
          seenlist_path(params[:id], params: { sort: :added_desc }),
          class: "is-link is-small" %>
      </li>

      <li>
        <%= link_to "↓ Year",
          seenlist_path(params[:id], params: { sort: :year_asc }),
          class: "is-link is-small" %>
      </li>

      <li>
        <%= link_to "↑ Year",
          seenlist_path(params[:id], params: { sort: :year_desc }),
          class: "is-link is-small" %>
      </li>
    </ul>
  </div>
</aside>
