<!DOCTYPE html>
<html>
  <head>
    <title>MovieNight</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-turbolinks-scroll=false
        data-controller="flash quickview modal"
        data-action="messageConnected->flash#handleRenderedFlashMessage">

    <%= render partial: "shared/nav" %>


    <%= yield %>

    <%# Quickview %>
    <div data-target="quickview.quickview" class="quickview">
    </div>

    <%# Modal %>
    <div data-target="modal.modal_container" class="modal">
      <div data-action="click->modal#toggle" class="modal-background" style=""></div>
      <div data-target="modal.modal_content" class="modal-content">
      </div>
      <button data-action="modal#toggle" class="modal-close is-large" aria-label="close"></button>
    </div>

    <div data-controller="rendered-flash-message"
         data-target="flash.flashContainer"
         id="toast-container"
         data-turbolinks-permanent>
    </div>
    <div data-target="flash.hiddenFlashContainer" class="is-hidden">
      <%= render partial: "shared/flash" %>
    </div>
  </body>
</html>
