<!DOCTYPE html>
<html>
  <head>
    <title>MovieNight</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-turbolinks-scroll=false>

    <div data-controller="flash" 
         data-action="messageConnected->flash#handleRenderedFlashMessage">

      <%= render partial: "shared/nav" %>

      <%= yield %>

      <div data-controller="rendered-flash-message"
           data-target="flash.flashContainer"
           id="toast-container"
           data-turbolinks-permanent>
      </div>
      <div data-target="flash.hiddenFlashContainer" class="is-hidden">
        <%= render partial: "shared/flash" %>
      </div>
    </div>
  </body>
</html>
